html,body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  color: #2F2F2F;
}

a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 216px 540px 324px 1fr;
  grid-template-rows: 106px 1fr;
  grid-template-areas:
    "header header header header header"
    "left-gap topics content subscribe right-gap";
}

#headerContainer {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 216px 540px 324px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left-gap logo search right-gap right-gap";
}

#logoContainer {
  grid-area: logo;
  align-self: center;
  justify-self: left;
  padding: 32px;
}

#searchContainer {
  grid-area: search;
  justify-self: center;
  align-self: center;
}

#searchContainer input {
  width: 480px;
  height: 32px;
  line-height: 32px;
  padding-left: 26px;
}

#topicsContainer {
  grid-area: topics;
  padding-left: 32px;
}

#topicsContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#contentContainer {
  grid-area: content;
  padding-left: 32px;
}

#subscribeContainer {
  grid-area: subscribe;
  padding-left: 32px;
}

#topicsList a{
  display: block;
  cursor: pointer;
  padding: 5px 0;
  white-space: nowrap;
}

.thumb {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url(./icons-001@2x.png);
  background-size: 627px 16px;
  margin-right: 8px;
}

.topicName {
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
}

#topicsList .subTopicNav {
  padding-left: 16px;
}
